.menuButton {
  z-index: 1001;

  width: 40px;
  height: 40px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-decoration: none;
  user-select: none;

  &:hover span {
    background: rgba(255, 245, 239, 1);
  }
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgba(255, 245, 239, 0.72);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 8px;
      /*background-color: #62D9FC;*/
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
      /*background-color: #a40b6e;*/
    }
    &:nth-child(4) {
      top: 28px;
    }
  }

  &.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

.menuButton.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuButton.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuButton.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menuButton.open span:first-child {
  left: 50%;
  top: 18px;
  width: 0;
}
