footer{
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    background: #e0e0e0;
    box-shadow:
            inset -6px 6px 8px 0px var(--bShad),
            inset 6px -6px 8px 0px var(--wShad);
    display: flex;
    height: 200px;

}

footer a {
    color : var(--CleanBlack);
    text-decoration: none;
}