footer{
    -moz-border-radius-topleft: var(--borderRadius);
    -moz-border-radius-topright: var(--borderRadius);
    background: #e0e0e0;
    box-shadow:  -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
    display: flex;

}

footer a {
    color : var(--CleanBlack);
    text-decoration: none;
}