@font-face {
    font-family: 'Monsterat';
    src:  url('font/Montserrat-VariableFont_wght.ttf') format('tff'),
    url('font/Montserrat-VariableFont_wght.ttf') format('tff');
}

:root{
    --White1 : #fff2e2;
    --black :#123456;
    --colNavBackground : rgba(1, 5, 21, 0.29);
    --colweirdBlue :#123456;
    --borderRadius : 10px;
    --colDarkGrey1 : #141414;
    --colGray1: rgb(55, 60, 65);
    --colAccentMajor: #e17070;
    --colAccentMinor: #c27878;
    --backgroundOffset : -44px;
    scroll-behavior: smooth ;
}


body{
    margin: 0;
    color: var(--White1);
    background-color: var(--colDarkGrey1);
    font-family: var(--font-family);
}

h1{
    letter-spacing: 3px;
    font-weight: normal;
    font-variant: all-petite-caps;
}

.s1{
    height:100%;
}
.s2{
    height:100%;
}
.s3{
    height:100%;
}
.presentation{
    background-color: rgb(55, 60, 65);
    min-height: 300px;
}
footer{
    min-height: 300px;
    background-color: #000000;
}

.presentation{
    padding-top: 60px;
    height: 50%;
    width: 100%;

    /*
    https://media.giphy.com/media/DWz4YFSdC8v0Iaf3gg/giphy-downsized-large.gif
    https://media3.giphy.com/media/SoMtN21UCQxFCsnCp9/giphy.gif?cid=ecf05e4782f1qf3hx46dprfjyis26zp8xecmwdbt1s7cm4op&rid=giphy.gif&ct=g
    https://media4.giphy.com/media/kOAoHZpPEQQsYphAUG/giphy.gif?cid=790b7611fd7dd9055519910e910bd5424a87a484d783ea34&rid=giphy.gif&ct=g

    https://media4.giphy.com/media/3oriNZuNzeTbtJvKs8/giphy.gif?cid=ecf05e470akjs0u1qh95zbyda1860938lvadx746mqke9aai&rid=giphy.gif&ct=g
     */
    background-image: url(https://media4.giphy.com/media/LbMERa15Q6clA1NLcz/giphy.gif?cid=ecf05e47n7wkisu5dmo2rswzwly6aqq9picl8msua0lpgzne&rid=giphy.gif&ct=g) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: var(--backgroundOffset);
    -filter: invert();

}

.presentation h2{
    font-family: var(--font-family);
    font-weight : normal;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    font-variant: unicase;
    letter-spacing: 2px;
    background-image: url(https://media4.giphy.com/media/LbMERa15Q6clA1NLcz/giphy.gif?cid=ecf05e47n7wkisu5dmo2rswzwly6aqq9picl8msua0lpgzne&rid=giphy.gif&ct=g) ;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y:  var(--backgroundOffset);

    max-width: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -background-color: white;

    width: 100%;
    height:100%;

    display: table-cell;
    vertical-align: middle;
    margin: 0;
    float: inherit;

    animation-name: titleFadeIn;
    animation-duration: 1s;

    filter: invert() hue-rotate(180deg);

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    padding: 55px 0px;
}

@keyframes titleFadeIn {
    0%   {

        filter:invert() hue-rotate(180deg) blur(50px);
    }
    10%  {
        filter:invert() hue-rotate(180deg) blur(45px);
    }
    20%  {
        filter:invert() hue-rotate(180deg) blur(40px);
    }
    30%  {
        filter:invert() hue-rotate(180deg) blur(35px);
    }
    40%  {
        filter:invert() hue-rotate(180deg) blur(30px);
    }
    50%  {
        filter:invert() hue-rotate(180deg) blur(25px);
    }
    60%  {
        filter:invert() hue-rotate(180deg) blur(20px);
    }
    70%  {
        filter:invert() hue-rotate(180deg) blur(15px);
    }
    80%  {
        filter:invert() hue-rotate(180deg) blur(10px);
    }
    90%  {
        filter:invert() hue-rotate(180deg) blur(5px);
    }
    100% {
        filter:invert() hue-rotate(180deg) blur(0px);

    }
}

