.work{
    display: flex;
    flex-direction: column;
    width: 450px;
    /*margin: 10px 10px 20px 10px;*/
    border-radius: var(--borderRadius);
    color: var(--Beige);

    &:hover>.glass>.imageContainer>.workLogo{
        filter: opacity(1) saturate(1) !important;
        background-color: #58d25a;
        transition:  -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter 0.2s ;
    }

}


.imageContainer {
    /*background-image: url(../../../../../public/img/placeholder.png);*/
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: var(--WhiteDarker);*/
    display: flex;
}

.textContainer{
    padding: 25px 20px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.workContainer{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--cardContainerMargin);
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    grid-gap: 40px;
}

#work{
    width: 100%;

    .title{
        text-align: left;
        margin: 0;
    }

    :is(.date,.person_count,.state){
        margin : 0;
        color: var(--White2);
    }

    .description{
        text-align: justify;
        font-size: larger;
    }

    .person_count{
        display: flex;

        &:after{
            content:"";
            height: 100%;
            aspect-ratio: 1/1;
            background-image: url("../../../../../public/img/person.png");
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 5px;
            width: 23px;
        }
    }

    .state{
        letter-spacing: 1px;
        font-variant: all-petite-caps;
        background-color: var(--WhiteDarker);
        padding: 0 5px;
        border-radius: 10px;
        color: #e8feff;
        display: flex;
        align-items: center;

        &.finished{
            background-color: rgb(133 255 222 / 30%);
        }
        &.inDev{
            background-color: rgba(255, 255, 255, 0.32);
        }
    }

    .workLogo{
        width: 100%;
        max-height: 100%;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 5px 7px -6px #0000006b;
        filter: opacity(0.8) saturate(0.8);
        transition:  -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter 0.5s ;
    }
}



.workHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workTechnoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px 20px;
}



.work .glass{
    /*background-image: radial-gradient(rgba(58,255,255,0.5) -42%, #0000001a 100%);*/
}
