.work{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 10px;
    border-radius: var(--borderRadius);
    color: var(--Beige);

}

.imageContainer {
    background-image: url(../../../../../public/img/placeholder.png);
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--WhiteDarker);
}

.textContainer{
    padding: 25px 10px;
    line-height: 1.4;
}



.workContainer{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#work{
    width: 100%;
}

#work .title{
    text-align: left;
    margin: 0;
}

#work :is(.date,.person_count,.state){
    margin : 0;
    color: var(--White2);
}

#work .description{
    text-align: justify;
    font-size: larger;
}

#work .person_count{
    display: flex;
}

#work .state{
    letter-spacing: 1px;
    font-variant: all-petite-caps;
    background-color: var(--WhiteDarker);
    padding: 0 5px;
    border-radius: 10px;
    color: black;
}

#work .person_count:after{
    content:"";
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url("../../../../../public/img/person.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 5px;
}

.workHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workTechnoContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

}

.workLogo{
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.work .glass{
    background-image: radial-gradient(rgba(58,255,255,0.5) -42%, #0000001a 100%);
}
