:root{
    --workCardSize : 346px;
    --ColSectionWork: #0b0b0f;

}


.work{
    display: flex;
    flex-direction: row;
    /*width: 450px;*/
    /*margin: 10px 10px 20px 10px;*/
    border-radius: var(--borderRadius);
    color: var(--Beige);
    /*height: fit-content;*/
    /*transform-style: preserve-3d;*/
    position: relative;
    width: var(--workCardSize);
    height:  var(--workCardSize);
    z-index: 5;


    &:hover>.glass>.imageContainer>.workLogo{
        filter: opacity(1) saturate(1) !important;
        background-color: rgba(255, 255, 255, 0.63);
        transition:  -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter 0.2s ;
    }

    &:hover >.workDetailsContainer {
        transform: rotateY(0deg) rotateZ(0deg) translateZ(-10px) ;
        transition: 1s all;
        opacity: 1;
    }
    &:hover >.imageContainer {
        transform: rotateY(-180deg) rotateZ(0deg) translateZ(-10px) ;
        /*transform: none;*/
        opacity: 0;
        transition: 1s all;
    }

}



.workDetailsContainer{
    width: var(--workCardSize);
    height: var(--workCardSize);
    display: flex;
    flex-direction: column;
    transform: rotateY(-180deg) rotateX(0deg) translateZ(10px);
    /*background-color: #58d25a;*/
    position: absolute;
    z-index: 8;
    opacity: 0;
    transition: 1s all;
}

.imageContainer {
    /*background-image: url(../../../../../public/img/placeholder.png);*/
    width: 100%;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: var(--WhiteDarker);*/
    display: flex;
    border-radius: var(--borderRadius);
    /*padding: 10px;*/
    /*background-color: #587bd2;*/
    /*position: absolute;*/
    z-index: 6;
    transition:1s all;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.textContainer{
    padding: 25px var(--boxPadding);
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.workContainer{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--cardContainerMargin);
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    grid-gap: 40px;
}

#work{
    background-color: var(--ColSectionWork);
    .title{
        text-align: left;
        margin: 0;
    }

    :is(.date,.person_count,.state){
        margin : 0;
        color: var(--White2);
    }

    .description{
        text-align: left;
        font-size: larger;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .person_count{
        display: flex;

        &:after{
            content:"";
            height: 100%;
            aspect-ratio: 1/1;
            background-image: url("../../../../../public/img/person.png");
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-left: 5px;
            width: 23px;
        }
    }

    .state{
        letter-spacing: 1px;
        font-variant: all-petite-caps;
        background-color: var(--WhiteDarker);
        padding: 0 10px;
        border-radius: var(--borderRadiusLabel);
        color: #e8feff;
        display: flex;
        align-items: center;

        &.finished{
            background-color: rgb(133 255 222 / 30%);
        }
        &.inDev{
            background-color: rgba(255, 255, 255, 0.32);
        }
    }

    .workLogo{
        max-width: 100%;
        max-height: 100%;
        border-radius: var(--borderRadius);
        /*box-shadow: 0px 5px 7px -6px #0000006b;*/
        filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.71));
        /*filter: opacity(0.8) saturate(0.8);*/
        /*transition:  -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter 0.5s ;*/
        /*border: 2px solid rgba(255, 255, 255, 0.45);*/
    }

    .scrollable{
        max-height: 225px;
        overflow: hidden scroll;
        padding-top: 0px;
        /*padding-bottom: 10px;*/
        box-shadow: 3px -7px 17px -10px #f4f4f41c inset;
        border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    }
}

.workContainerFooter{
    box-shadow: 0px -49px 44px 34px var(--ColSectionWork);
    border-radius: 0 0 50px 50px;
    height: 100px;
    width: 100%;
    background-color: var(--ColSectionWork);
    z-index: 6;
}



.workHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    box-shadow: 0px 18px 19px -14px black;
    z-index: 5;
}

.workTechnoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px 20px;
}



.work .glass{
    /*background-image: radial-gradient(rgba(58,255,255,0.5) -42%, #0000001a 100%);*/
}
