.formation {
    width: 500px;
    /*min-height: 250px;*/
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px;

    border-radius: 25px;
    /*background-color: var(--lightGlass);*/

    >div{
        padding: 10px;
        width: auto;
    }
    &:first-line{
        background-color: #61dafb;
    }

    .title{
        margin-bottom: 0;
    }

    .subtitle{
        margin: 0;
        font-size: large;
        filter: opacity(0.8);
    }

    .year{
        margin-top: 5px;
    }

    .description{
        text-align: justify;
        height: fit-content;
        width: fit-content;
    }

    & h2{
        text-align: left;
        margin-top: 0;
    }

    &:after{
        /*content:" d";*/
        /*position: absolute;*/
        /*background-color: #0B59A4;*/
    }
}



.formations{
    width: 100%;

}


.formationsCont{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    margin-top: var(--cardContainerMargin);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}