.formation {
    width: 500px;
    height: 250px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px;

    border-radius: 25px;
    background-color: var(--lightGlass);
}
.formation>div{
    padding: 10px;
}


.formation:first-line{
    background-color: #61dafb;
}

.formations{
    width: 100%;

}
.formation .title{
    margin-bottom: 0;
}

.formation .subtitle{
    margin: 0;
    font-size: large;
    filter: opacity(0.8);
}

.formation .year{
    margin-top: 5px;
}
.formationsCont{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    margin-top: var(--cardContainerMargin);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.formation h2{
    text-align: left;
}

.formation .description{
    text-align: justify;
    height: fit-content;
    width: fit-content;
}