footer{
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    background: var(--White2);
    box-shadow:
            inset -6px 6px 8px 0px var(--bShad),
            inset 6px -6px 8px 0px var(--wShad);
    display: flex;
    height: 200px;
    filter: brightness(98%);

}

footer a {
    color: var(--CleanBlack);
    letter-spacing: 3px;
    text-decoration: none;
    width: 250px;
    text-align: center;
    box-shadow: var(--NeomorphismOut);
    border-radius: 25px;
    margin: 0 35px;
    padding: 35px 0;
    filter: brightness(102%);
}

footer .lookLikeButton{
    width: var(--mainWidth);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}