.skill {
    height: 30px;
    width: 100%;
    filter: brightness(100%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
}

.skill p{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.skillName {
    width: 150px;
    height: 100%;
    /*background-color: var(--lightGlass);*/
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    color: white;
    letter-spacing: 1px;
}

.skillBar {
    /*border-top-right-radius: var(--borderRadius);*/
    /*border-bottom-right-radius: var(--borderRadius);*/
    height: 100%;
    width: 100%;
}

.skillBarValue{
    height: 50%;
    width: 100%;
    background-color: var(--color_allSkill);
    /*border-top-right-radius: var(--borderRadius);*/
    /*border-bottom-right-radius: var(--borderRadius);*/
    /*background-color: var(--lightGlass);*/
    z-index: 100;
    display: flex;
    align-items: center;
    border-right: 2px solid;
}

.skill .skillBarContainer{
    width: 100%;
    height: 50%;
    backdrop-filter: brightness(50%);

}

.skillBarGlass{
    display: flex;
    background-color: #3c3c41b3;
    border-radius: 0;
    justify-content: center;
    align-items: flex-start;
}