.skill {
    height: 30px;
    width: 100%;
    filter: brightness(100%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.skill p{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.skillName {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 150px;
    height: 100%;
    background-color: var(--WhiteDarker);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.skillBar {
    box-shadow: var(--NeomorphismIn);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 100%;
    width: 58%;
    background-color: var(--WhiteDarker);
}

.skillButton {
    display: flex;
    filter: opacity(0);
    border-radius: 180px;
    border: none;
    background-color: var(--White2);
    margin-left: 10px;
    box-shadow: var(--NeomorphismOut);
    width: 30px;
    height: 30px;
    color: var(--CleanBlack);
    font-size: larger;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
}

.skill:hover .skillButton {
    filter: opacity(100%);
}