.tooltip .tooltiptext {
    display: flex;
    filter: opacity(0);
    width: 120px;
    color: #ffffffe0;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 1px 3px var(--color_allSkill);
    position: absolute;
    background-image: linear-gradient(90deg, #000000e0 0%, transparent 100%);
    border-left: 2px solid var(--colDarkGrey1);
    z-index: 10;
    padding-left: 10px;
    border-radius: var(--borderRadiusLabel);
    height: 100%;
    font-size: smaller;
}

.tooltip:hover .tooltiptext {
filter: opacity(1);
transition: all 0.2s;
}