.tooltip .tooltiptext {
    filter: opacity(0);
    width: 120px;
    background-color: rgba(0, 0, 0, 0.42);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    letter-spacing: 2px;
    text-shadow: 2px 1px 3px var(--color_allSkill);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    filter: opacity(1);
    transition: all 0.2s;
}