.skills .leftPart, .skills .rightPart{
    min-width: 49%;
}

.skills{
    .leftPart{
        display: flex;
        flex-direction: column;
    }
    .rightPart{
        display: flex;
        flex-direction: column;
    }

}


.skillCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--cardContainerMargin);
}