@use '../../../style/tokens';

.skills {
  gap: tokens.$space-050;
  position: relative;
  .leftPart {
    display: flex;
    flex-direction: column;
  }
  .rightPart {
    display: flex;
    flex-direction: column;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--cardContainerMargin);
  margin-left: auto;
  margin-right: auto;
}

.skillCont {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1100px;
  justify-content: space-between;
  margin: auto;

  padding: 20px;
  gap: tokens.$space-100;
  z-index: 4;
  position: relative;
  background-color: transparent;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillContainer {
  display: flex;
  gap: tokens.$space-050;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: tokens.$space-050;
    flex-wrap: wrap;
  }
}
