footer{

    background:rgb(229 229 229);
    display: flex;
    height: var(--footerHeight);
    position: fixed;
    flex-direction: column;
    bottom: 0;
    z-index: -100;
    width: 100%;
}

footer a {
    color: var(--black);
    letter-spacing: 4px;
    text-decoration: none;
    width: 250px;
    text-align: center;
    -box-shadow: var(--NeomorphismOut);
    /*border-radius: 25px;*/
    margin: 0 35px;
    padding: 35px 0;
    transition: all ease-in-out 0.2s;
    /*border-top: 1px solid var(--CleanBlack);*/
    /*border-bottom: 1px solid var(--CleanBlack);*/
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-variant: all-petite-caps;
    font-weight: lighter;
}

footer a:hover{
    /*box-shadow: var(--NeomorphismOut);*/
    border-top: 1px solid var(--color_allSkill_darker);
    border-bottom: 1px solid var(--color_allSkill_darker);
    transition: all ease-in-out 0.2s;
}

footer .lookLikeButton{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer .author{
    color: rgba(0,0,5,0.7);
    min-height: 30px;
    height: fit-content;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    padding-bottom: 5px;

}