footer{

    /*background:rgb(229 229 229);*/
    display: flex;
    /*height: var(--footerHeight);*/
    height: 180px;;
    position: relative;
    flex-direction: column;
    bottom: 0;
    z-index: 4;
    width: 100%;


    .lookLikeButton{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        grid-gap: 10px;

        & a{
            width: 40px;
            height: 40px;
            background-size: cover;
            opacity: 0.8;
            transition: opacity 0.2s;

            &.button_github{
                background-image: url("/public/img/github.png");
            }
            &.button_linkedin{
                background-image: url("/public/img/linkedin.png");
            }
            &.button_mail{
                background-image: url("/public/img/mail.png");
            }

            &.button_github:hover, &.button_linkedin:hover, &.button_mail:hover{
                opacity: 1;
                transition: opacity 0.2s;
            }
        }
    }

    .author{
        color: rgb(255 255 255 / 70%);
        min-height: 30px;
        height: fit-content;
        text-align: center;
        width: 100%;
        letter-spacing: 2px;
        padding-bottom: 5px;

    }

    >.glass{
        border-radius: 10px 10px 0 0;
    }
}
