.workTechnology{
    display: flex;
    min-width: 50px;
    height: 23px;
    background-color: var(--lightGlass);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    font-variant: all-petite-caps;
    text-align: center;
    justify-content: center;
    margin: 0 5px 5px 0;
}

.workTechnology:hover{
    filter : brightness(110%);
}

.wt_toto{
    background-color: #eebebe;
}

.wt_react{
    background-color: var(--color_react);
}

.wt_java{
    background-color: var(--color_java);
}

.wt_javafx{
    background-color: var(--color_javafx);
}

.wt_html{
    background-color: var(--color_html);
}

.wt_css{
    background-color: var(--color_css);
}

.wt_javascript{
    background-color: var(--color_javascript);
}

.wt_python{
    background-color: var(--color_python);
}

.wt_php{
    background-color: var(--color_php);
}

.wt_sql{
    background-color: var(--color_sql);
}

.wt_spring_boot{
    background-color: var(--color_spring_boot);
}

.wt_active_directory{
    background-color: var(--color_active_directory);
}

.wt_jsp{
    background-color: var(--blueMetal);
}