.linkButton {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  grid-gap: 10px;

  & a {
    width: 40px;
    height: 40px;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 0.2s;
    animation: floatingButtons 10s ease-in-out infinite;
    color: transparent;
    text-decoration: none;

    &.github {
      background-image: url('../../img/icons/github.png');
      animation-delay: -5s;
    }
    &.linkedin {
      background-image: url('../../img/icons/linkedin.png');
      animation-delay: -8s;
    }
    &.mail {
      background-image: url('../../img/icons/email_full.png');
      animation-delay: -1s;
    }

    &.github:hover,
    &.linkedin:hover,
    &.mail:hover {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }
}
