:root{
    --lightModeBackground : #fffef3;
    --lightModeBackgroundScrollBar : #b7b6b2;
}

html.lightMode {
    background-color: var(--lightModeBackground);
}

html.lightMode main{
    background-color: var(--lightModeBackground);
    transition: background-color 0.5s ease;
}

html.lightMode .skillName p {
    color: black;
}

html.lightMode section>h2 {
    color: black;
}



html.lightMode .formation, html.lightMode .experience, html.lightMode .work {
    box-shadow: 2px 4px 11px 0px #0000001c;
}


html.lightMode {
    /* N A V */
    & nav {
        background-color: #ffffff29;
        background-image: none;

    }
    .clickableLogo img {
        filter: invert();
    }

    & h1 {
        color: var(--CleanBlack);
    }

    .menuContainer {
        filter: invert();
    }

    /* P A N E L */

    #panel {
        background-color: #19191947;
        box-shadow: 1px 1px 7px 3px #24242496;
    }

    #panel a {
        color: rgba(35, 35, 35, 0.6);
    }
    #panel a:hover {
        color: rgba(35, 35, 35, 1);;
    }

    .phone:before, & .mail:before {
        filter: invert();
    }

    & span {
        color: rgba(35, 35, 35, 0.6);
    }

    /* S C R O L L   B A R */
    ::-webkit-scrollbar-track {
        background: var(--lightModeBackgroundScrollBar);
        border: 0px none var(--footerBlack);
    }
    ::-webkit-scrollbar-track:hover {
        background:  var(--lightModeBackgroundScrollBar);
    }
    ::-webkit-scrollbar-track:active {
        background:  var(--lightModeBackgroundScrollBar);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--colDarkGrey1);
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--colDarkGrey1);
    }

    /* O T H E R */
    .divider {
        border-bottom: 2px solid var(--WhiteDarker);
    }

    .glass{
        /*background-color: #ffffff5c;*/
    }

    .location:before{
        filter:invert();
    }
    /* W O R K */
   #work{
        & h3.date, .description, .person_count,.state{
            color: var(--CleanBlack);
        }

       .person_count:after{
           filter: invert();
       }
   }

    /* W O R K   T E C H N O L O G Y */
    .workTechnology{
        color: var(--CleanBlack);
    }

    /* F O R M A T I O N */
    & h2.title, & h3.year {
        color: var(--CleanBlack);
    }

    .formation {
        .subtitle{
            color: rgba(0, 0, 0, 0.76);
        }

        .description, .location, .mention{
            color: black;
            letter-spacing: 1px;
        }
    }
    /* S K I L L S */
    .tooltip .tooltiptext{
        background-image: linear-gradient(90deg, #ffffff94 0%, transparent 100%);
        border-left: 2px solid white;
        color: var(--CleanBlack);
    }
    .skillBarValue{
        background-color: var(--color_allSkill);
    }

        /* E X P E R I E N C E */
    #experience{
        .date, .type, .description, .location{
            color: var(--CleanBlack);
        }
    }

    /* C O N T A C T  */
    #contactForm{
        color: var(--CleanBlack);

        & h2, & label {
            color: var(--CleanBlack);
        }

        & input, & textarea {
            color: rgba(0, 0, 0, 0.75);
            background-color: #ffffff5c;

            &::placeholder{
                color: rgba(0, 0, 0, 0.75);
            }
        }

        & .btnSender{
            background-color: var(--CleanBlack);
            color: white;
        }

        & .author{
            color: rgba(0, 0, 0, 0.75);
        }
    }

    .floatingBubble{
        filter: opacity(0.6) saturate(100%);
    }

    & footer{
        /*background-color: var(--lightModeBackground);*/
        .lookLikeButton a{
            filter: invert();
        }
    }
}