@media only screen and (orientation: portrait) {
    /* H T M L */
    html{
        width: 100%;
        /*min-width: 0;*/
        height: 100%;
    }

    /* P R E S E N T A T I O N */
    .profilePic img {
        width: 200px;
        height: 200px;
    }

    .profilePic {
        width: 210px;
        height: 210px;
    }

    .presentation h2{
        font-size: 40px;
    }

    .titles{
        height: 200px;
    }

    /* M A I N */

    main{
        width: 98%;
        /* background-color: #58d25a; */
        padding: 0 1%;
    }

    /* F O R M A T I O N */
    .formation{
        width: 70%;
    }

    /* S K I L L */

    .skillCont{
        flex-direction: column !important;
        width: 70%;
    }

    .skillCont .leftPart, .skillCont .rightPart{
        width: 100%;
    }

    /* E X P E R I E N C E*/
    .experience{
        width: 70%;
    }

    /* W O R K*/
    .work {
        color: #ffffff;
        width: 70%;
        min-height:800px;
    }

    .imageContainer{
        height: 300px;
    }

    /* N A V */
    nav {
        height: 100px;
        /*width: 95%;*/
        background-color: #58d25a;
    }

    /* P A N E L */
    #panel {
        width: 100%;
    }


}
