.contactFormContainer {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#contactForm {
  & h2 {
    margin: 11px 0 0 0;
  }

  display: flex;
  /*justify-content: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*flex-wrap: nowrap;*/
  /*align-items: center;*/
  width: 420px;
  /*height: 520px;*/
  /*aspect-ratio: 11/16;*/
  min-width: 400px;
  margin: auto;

  border-radius: var(--borderRadius);
  z-index: 4;
  position: relative;

  > div {
    padding: 20px;
  }

  & form {
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    display: flex;
  }

  & label {
    margin: 20px 0 10px 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    letter-spacing: 3px;
    font-variant: all-petite-caps;
    font-size: larger;
    color: white;
  }

  & input,
  & textarea {
    height: 50px;
    border-radius: var(--borderRadius);
    border: none;
    padding: 0 20px;
    background-color: var(--lightGlass);
    letter-spacing: 1px;
    color: white;
    font-size: smaller;
    resize: none;
    transition: outline 0.2s;

    &::placeholder {
      color: rgba(255, 255, 255, 0.71);
      opacity: 1; /* Firefox */
    }

    &:focus-visible {
      outline: 2px solid #ffffff3b;
      transition: outline 0.2s;
    }
  }
  & textarea {
    padding: 20px;
    height: 200px;
    font-size: medium;
    word-break: normal;
    white-space: break-spaces;
  }

  & input {
    /* todo */
    /*&:invalid{*/
    /*    box-shadow: 0px 0px 12px -3px #ff3e3e;*/
    /*    background-color: rgb(255 89 89 / 10%);*/
    /*    transition: 0.5s box-shadow, 0.5s background;*/
    /*}*/
    /*&:valid{*/
    /*    box-shadow: 0px 0px 12px -3px #68ff3e;*/
    /*    background-color: rgba(89, 255, 103, 0.1);*/
    /*    transition: 0.5s box-shadow, 0.5s background;*/
    /*}*/
  }
}

.btnSender {
  border-radius: var(--borderRadius);
  border: none;
  letter-spacing: 2px;
  height: 50px;
  background-color: var(--color_allSkill);
  margin: 10px 0;
  width: 150px;
  color: #ffebd5;
  font-feature-settings: 'pcap', 'c2pc';
  font-family: var(--font-family);
  font-variant: all-petite-caps;
  font-size: larger;

  &:hover {
    background-color: var(--col_allSkill_solid);
    /*filter: brightness(1.2);*/
    transition: background-color 0.2s;
  }

  &:active {
    background-color: #ffffff21;
    color: white;
  }
}

.buttonContainer {
  display: flex;
  justify-content: right;
  padding: 10px 0;
}

input#message {
  height: 200px;
}
